.header {
    background-color: #ff9100; /* 파란색 배경 */
    color: white;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-color:hover {
    color: red; /* 원하는 색상으로 변경 가능 */
  }